<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="onePrepareService" class="com.javaCourse.servicesImplementation.ZenPreparationService"/>

    <bean id="oneBassPlayer" class="com.javaCourse.servicesImplementation.BassPlayer">
        <constructor-arg ref="onePrepareService"/>
    </bean>

    <bean id="oneMusician" class="com.javaCourse.servicesImplementation.BassPlayer" scope="prototype">
        <constructor-arg ref="onePrepareService"/>
    </bean>
</beans>